
@{
    ViewBag.Title = "Đặt Lại";
}
<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Trang Chủ</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> @ViewBag.Title</li>
        </ul>
    </div>
</section>