
@{
    ViewBag.Title = "Table";
}
<link href="~/Areas/Admin/assets/css/Admin.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/js/js/ChartAdmin.js"></script>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <!--Search Bar!-->
                    <form class="searchform cf">
                        <input type="text" placeholder="Looking for?">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <!-- Button-->
                <div class="col-sm-8">
                    <a href="#Add-Coupon" onclick="Coupon_TenKH()" class="btn btn-success btn-sm" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm mới</span></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger btn-sm" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Xóa</span></a>
                    <a href="#link" class="btn btn-info btn-sm" data-toggle="#"> <span>Xuất Data</span></a>
                    <a href="#Table-LichSu" onclick="LichSu_GetAll()" class="btn btn-info btn-sm" data-toggle="#"> <span>Lịch Sử</span></a>
                    <a href="#Table-Chart" class="btn btn-info btn-sm" data-toggle="#"> <span>Thống Kê</span></a>
                    <!--Dropdown button-NhanSu-->
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                            <span class="caret" style="margin: 9px"></span>
                            <span>Nhân Sự</span>
                        </button>
                        <ul class="dropdown-menu" style="margin-top: 37px; margin-left: 154px;">
                            <li><a href="#Table-TaiKhoan" onclick="TaiKhoan_GetAll()">Tài Khoản</a></li>
                            <li><a href="#Table-KhachHang" onclick="KhachHang_GetAll()">Khách Hàng</a></li>
                            <li><a href="#NhanVien" onclick="NhanVien_GetAll()">Nhân Viên</a></li>
                        </ul>
                    </div>
                    <!--Dropdown button-SanPham-->
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                            <span class="caret" style="margin: 9px"></span>
                            <span>Sản Phẩm</span>
                        </button>
                        <ul class="dropdown-menu" style=" margin-top: 37px; margin-left: 38px;">
                            <li><a href="#Table-SanPham" onclick="SanPham_GetAll()">Sản Phẩm</a></li>
                            <li><a href="#Table-LoaiSP" onclick="LoaiSanPham_GetAll()">Loại SP</a></li>
                            <li><a href="#Table-Coupon" onclick="Coupon_GetAll()">Coupon</a></li>
                            <li><a href="#Table-HoaDon" onclick="HoaDon_GetAll()">Hóa Đơn</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Button-->
            </div>
        </div>

        <div id="load-table">
            <!--SanPham-->
            <table class="table table-striped table-hover" id="Table-SanPham">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Mã Loại</th>
                        <th>Hình Ảnh</th>
                        <th>Giá Tiền</th>
                        <th>Mô Tả</th>
                        <th>Số Lượng</th>
                    </tr>
                </thead>
                <tbody id="sanpham-context">

                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>1</td>
                        <td>Nước Coca</td>
                        <td>NN</td>
                        <td><img src="~/Areas/Admin/assets/img/Coca-Cola-Can-icon.png" class="image-products" /></td>
                        <td>20,000</td>
                        <td>...</td>
                        <td>10</td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#Edit-SanPham" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!--LoaiSanpham-->
            <table class="table table-striped table-hover" id="Table-LoaiSP">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã Loại</th>
                        <th>Tên Loại SP</th>
                        <th>Mô Tả</th>
                        <th>Hình Ảnh</th>

                    </tr>
                </thead>
                <tbody id="loaisanpham-context">
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>NN</td>
                        <td>Nước Ngọt</td>
                        <td>...</td>
                        <td>
                            <div>
                                <img src="~/Areas/Admin/assets/img/Coca-Cola-Can-icon.png" class="image-products" />
                            </div>
                        </td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#Edit-LoaiSP" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--HoaDon-->
            <table class="table table-striped table-hover" id="Table-HoaDon">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã HĐ</th>
                        <th>Tên KH</th>
                        <th>Thời Gian</th>
                        <th>Tổng Giá</th>
                        <th>Giảm Giá</th>
                        <!--<th>Điểm Cộng</th>-->
                        <th>Số Lượng</th>
                        <th>Trạng Thái</th>
                    </tr>
                </thead>
                <tbody id="hoadon-context">

                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>HD01</td>
                        <td>Nguyễn Văn A</td>
                        <td>15-11-2020</td>
                        <td>5</td>
                        <td>10%</td>
                        <td>15,000</td>
                        <td>Đã Thanh Toán</td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#Edit-HoaDon" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!--Coupon-->
            <table class="table table-striped table-hover" id="Table-Coupon">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã CP</th>
                        <th>Tên Coupon</th>
                        <th>Thời Gian Tồn Tại</th>
                        <th>Ngày Bắt Đầu</th>
                        <th>Ngày Kết Thúc</th>
                        <th>Giá Trị Giảm Tối Đa</th>
                        <th>Trạng Thái</th>
                    </tr>
                </thead>
                <tbody id="coupon-context">

                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1" >
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>CP01</td>
                        <td>BF_NEWS</td>
                        <td>2 Ngày</td>
                        <td>11-11-2020</td>
                        <td>13-11-2020</td>
                        <td>50%</td>
                        <td>500,000đ</td>
                        <td>Đã Kích Hoạt</td>
                        <td>Chưa Sử Dụng</td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#Edit-Coupon" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!--TaiKhoan-->
            <table class="table table-striped table-hover" id="Table-TaiKhoan">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã TK</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Loại Tài Khoản</th>
                    </tr>
                </thead>
                <tbody id="taikhoan-context">

                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>AD</td>
                        <td>NV01</td>
                        <td>tien</td>
                        <td>
                            <span>***</span>
                        </td>
                        <td>Admin</td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Hide" style="color: #00fff3;">&#xe8f5;</i></a>
                                <a href="#" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Show" style="color: #ff8100;">&#xe8f4;</i></a>
                                <a href="#Edit-TaiKhoan" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!--KhachHang-->
            <table class="table table-striped table-hover" id="Table-KhachHang">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã KH</th>
                        <th>Mã TK</th>
                        <th>Họ Tên</th>
                        <th>Giới Tính</th>
                        <th>Địa Chỉ</th>
                        <th>SĐT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="khachhang-context">

                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>KH01</td>
                        <td>Nguyễn Văn A</td>
                        <td>15-11-2020</td>
                        <td>Nam</td>
                        <td>486, Lê Hồng Phong, Quận 10, TP.HCM</td>
                        <td>0935720104</td>
                        <td>150</td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#Edit-KhachHang" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--NhanVien-->
            <table class="table table-striped table-hover" id="Table-NhanVien">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Mã NV</th>
                        <th>Ca Làm Việc</th>
                        <th>Họ Tên</th>
                        <th>Giới Tính</th>
                        <th>Địa Chỉ</th>
                        <th>SĐT</th>
                        <th>Tổng Giờ Làm</th>
                        <th>Tổng Tiền</th>
                    </tr>
                </thead>
                <tbody id="nhanvien-context">

                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>NV01</td>
                        <td>Ca Sáng</td>
                        <td>Trần Tấn Đạt</td>
                        <td>Nam</td>
                        <td>486, Lê Hồng Phong, Quận 10, TP.HCM</td>
                        <td>0988787767</td>
                        <td>300H</td>
                        <td>3,500,000</td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#Edit-NhanVien" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--LichSu-->
            <table class="table table-striped table-hover" id="Table-LichSu">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>STT</th>
                        <th>Công Việc</th>
                        <th>Ngày Thực Hiện</th>
                        <th>Hoạt Động</th>
                        <th>Người Thực Hiện</th>
                    </tr>
                </thead>
                <tbody id="lichsu-context">
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox2" name="options[]" value="1">
                                <label for="checkbox2"></label>
                            </span>
                        </td>
                        <td>1</td>
                        <td>Trà Sữa</td>
                        <td>11-12-2020</td>
                        <td>Thêm Mới</td>
                        <td>Trần Tấn Đạt</td>
                        <td>
                            <div id="CRUD-button">
                                <a href="#Edit-LichSu" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        
        
        
        <!--Table Data-->

        <br /><hr /><br />
        <!--Chart-Statistic-->
        <table class="table table-striped table-hover" id="Table-Chart">
            <div style="width:800px;" id="Table-title">Thống Kê</div>

            <div class="container-chart">
                <h2>Biểu Đồ</h2>
                <canvas id="myChart"></canvas>
            </div>

            <button id="chart-button">Add</button>

            <body>
                <script src="~/Areas/Admin/assets/js/js/ChartAdmin.js"></script>
            </body>
        </table>
        <!---->
    </div>
</div>
<!-- Modal-Add New -->
<!-- Modal-AddSanPham -->
<div id="Add-SanPham" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Sản Phẩm Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên Sản Phẩm</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Mã Loại</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <div class="file-field">
                            <div class="btn btn-primary btn-sm float-left" style="padding-right: 40px">
                                <span>Chọn File Hình</span>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Giá Tiền</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Số Lượng</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" rows="5" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal-AddLoaiSP-->
<div id="Add-LoaiSP" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Loại Sản Phẩm Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã Loại</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên Loại Sản Phẩm</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giá Tiền</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <div class="file-field">
                            <div class="btn btn-primary btn-sm float-left" style="padding-right: 40px">
                                <span>Chọn File Hình</span>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" rows="5" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal-AddCoupon-->
<div id="Add-Coupon" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Coupon Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên Coupon</label>
                        <input type="text" id="add-tencoupon" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên Khách Hàng</label>
                        @*<input type="text" class="form-control" required>*@
                        <select id="Coupon-tenkhachhang" class="form-control">
                            <option value="1" selected>Lê Văn Tiến</option>
                            <option value="2">Nguyễn Thanh Phong</option>
                            <option value="3">Nguyễn Tấn Đạt</option>
                            <option value="3" >Nguyễn Văn Dư</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Thời Gian Sống</label>
                        <input type="text" id="add-lifetime" class="form-control" style="color:forestgreen" readonly>
                    </div>
                    <div class="form-group">
                        <label>Ngày Bắt Đầu</label>
                        <input type="date" id="add-thestart" onchange="start(event)" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày Kết Thúc</label>
                        <input type="date" id="add-theend" onchange="end(event)" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giá Trị Giảm</label>
                        <input type="text" id="add-discount" class="form-control" required>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" onclick="AddCoupon()" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal-AddHoaDon-->
<div id="Add-HoaDon" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Hóa Đơn Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã HĐ</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên Khách Hàng</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Thời Gian</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Điểm Cộng</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Số Lượng</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giảm Giá</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tổng Giá</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Trạng Thái</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input onclick="AddCoupon()" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal-AddTaiKhoan-->
<div id="Add-TaiKhoan" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Tài Khoản Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã TK</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Mã NV</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div id="Modal-Add-SH-button">
                            <a href="#" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Hide" style="color: #00fff3;">&#xe8f5;</i></a>
                            <a href="#" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Show" style="color: #ff8100;">&#xe8f4;</i></a>
                        </div>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal-AddNhanVien-->
<div id="Add-NhanVien" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Nhân Viên Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã NV</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Họ Tên Nhân Viên</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ca Làm Việc</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giới Tính</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Địa Chỉ</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>SĐT</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tổng Giờ Làm</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tổng Tiền</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal-AddKhachHang-->
<div class="modal fade" id="Add-KhachHang" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Khách Hàng Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã KH</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Họ Tên Khách Hàng</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày Sinh</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giới Tính</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Địa Chỉ</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>SĐT</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Điểm</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal-AddLichSu-->
<div class="modal fade" id="Add-LichSu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Lịch Sử Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>STT</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Công Việc</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày Thực Hiện</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Hoạt Động</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Người Thực Hiện</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Modal-Add New -->
<!-- Edit Modal HTML -->
<!-- Edit-Modal SanPham-->
<div class="modal fade" id="Edit-SanPham" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Sửa Sản Phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên Sản Phẩm</label>
                        <input type="text" class="form-control" id="sanpham-edit-tensanpham" required>
                    </div>
                    <div class="form-group">
                        <label>Mã Loại</label>
                        <input type="email" class="form-control" id="sanpham-edit-id_loai" required>
                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <div class="file-field">
                            <div class="btn btn-primary btn-sm float-left" style="padding-right: 40px">
                                <span>Chọn File Hình</span>
                                <input type="file" id="sanpham-edit-hinhanh" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Giá Tiền</label>
                        <input type="text" class="form-control" id="sanpham-edit-gia" required>
                    </div>
                    <div class="form-group">
                        <label>Số Lượng</label>
                        <input type="text" class="form-control" id="sanpham-edit-soluong" required>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" rows="5" id="sanpham-edit-mota" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit-Modal LoaiSP-->
<div class="modal fade" id="Edit-LoaiSP" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Sửa Loại Sản Phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã Loại</label>
                        <input type="text" class="form-control" id="loai-edit-id_loai" required>
                    </div>
                    <div class="form-group">
                        <label>Tên Loại Sản Phẩm</label>
                        <input type="email" class="form-control" id="loai-edit-tenloai" required>
                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <div class="file-field">
                            <div class="btn btn-primary btn-sm float-left" style="padding-right: 40px">
                                <span>Chọn File Hình</span>
                                <input type="file" id="loai-edit-hinhanh">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" rows="5" id="loai-edit-mota" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit-HoaDon-->
<div class="modal fade" id="Edit-HoaDon" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Sửa Hóa Đơn</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã HĐ</label>
                        <input type="text" class="form-control" id="hoadon-edit-id_hoadon" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tên Khách Hàng</label>
                        <input type="text" class="form-control" id="hoadon-edit-id_khachhang" readonly>
                    </div>
                    <div class="form-group">
                        <label>Thời Gian</label>
                        <input type="text" class="form-control" id="hoadon-edit-thoigian" readonly>
                    </div>
                    <div class="form-group">
                        <label>Số Lượng</label>
                        <input type="text" class="form-control" id="hoadon-edit-soluong" readonly>
                    </div>
                    <div class="form-group">
                        <label>Giảm Giá</label>
                        <input type="text" class="form-control" id="hoadon-edit-discount" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tổng Giá</label>
                        <input type="text" class="form-control" id="hoadon-edit-tonggia" readonly>
                    </div>
                    <div class="form-group">
                        <label>Trạng Thái</label>
                        <input type="text" class="form-control" id="hoadon-edit-trangthai" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit-TaiKhoan-->
<div class="modal fade" id="Edit-TaiKhoan" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Sửa Tài Khoản</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã TK</label>
                        <input type="text" class="form-control" id="taikhoan-edit-id_taikhoan" required>
                    </div>
                    <div class="form-group">
                        <label>Loại TK</label>
                        <input type="text" class="form-control" id="taikhoan-edit-loaitk" required>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" id="taikhoan-edit-taikhoan" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div id="Modal-Add-SH-button">
                            <a href="#" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Hide" style="color: #00fff3;">&#xe8f5;</i></a>
                            <a href="#" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Show" style="color: #ff8100;">&#xe8f4;</i></a>
                        </div>
                        <input type="password" class="form-control" id="taikhoan-edit-matkhau" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit-KhachHang-->
<div class="modal fade" id="Edit-KhachHang" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Sửa Khách Hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã KH</label>
                        <input type="text" class="form-control" id="khachhang-edit-id_khachhang" readonly>
                    </div>
                    <div class="form-group">
                        <label>Mã TK</label>
                        <input type="text" class="form-control" id="khachhang-edit-id_taikhoan" readonly>
                    </div>
                    <div class="form-group">
                        <label>Họ Tên</label>
                        <input type="text" class="form-control" id="khachhang-edit-hoten"  required>
                    </div>
                    
                    <div class="form-group">
                        <label>Giới Tính</label>
                        <input type="text" class="form-control" id="khachhang-edit-gioitinh" required>
                    </div>
                    <div class="form-group">
                        <label>Địa Chỉ</label>
                        <input type="text" class="form-control" id="khachhang-edit-diachi" required>
                    </div>
                    <div class="form-group">
                        <label>SĐT</label>
                        <input type="text" class="form-control" id="khachhang-edit-sdt" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit-NhanVien-->
<div class="modal fade" id="Edit-NhanVien" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Nhân Viên Mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã NV</label>
                        <input type="text" class="form-control" id="nhanvien-edit-id_nhanvien" readonly>
                    </div>
                    <div class="form-group">
                        <label>Họ Tên</label>
                        <input type="text" class="form-control" id="nhanvien-edit-hoten" required>
                    </div>
                    <div class="form-group">
                        <label>Ca Làm Việc</label>
                        <input type="text" class="form-control" id="nhanvien-edit-id_calamviec" required>
                    </div>
                    <div class="form-group">
                        <label>Giới Tính</label>
                        <input type="text" class="form-control" id="nhanvien-edit-gioitinh" required>
                    </div>
                    <div class="form-group">
                        <label>Địa Chỉ</label>
                        <input type="text" class="form-control" id="nhanvien-edit-diachi" required>
                    </div>
                    <div class="form-group">
                        <label>SĐT</label>
                        <input type="text" class="form-control" id="nhanvien-edit-sdt" required>
                    </div>
                    <div class="form-group">
                        <label>Tổng Giờ Làm</label>
                        <input type="text" class="form-control" id="nhanvien-edit-tonggiolam" required>
                    </div>
                    <div class="form-group">
                        <label>Tổng Tiền</label>
                        <input type="text" class="form-control" id="nhanvien-edit-tongtien" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit-LichSu-->
<div class="modal fade" id="Edit-LichSu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Sửa Lịch Sử</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>STT</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Công Việc</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày Thực Hiện</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Hoạt Động</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Người Thực Hiện</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit-Coupon-->
<div id="Edit-Coupon" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Sửa Coupon</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã CP</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên Coupon</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Thời Gian Tồn Tại</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày Bắt Đầu</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày Kết Thúc</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giá Trị Giảm</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Giá Trị Giảm Tối Đa</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Trạng Thái</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tình Trạng</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy Bỏ">
                    <input type="submit" class="btn btn-success" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            }
            else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });

        /*
        $('#Coupon-tenkhachhang').change(function () {
            alert(this.value);
        });*/
    });
</script>
<script src="~/Areas/Admin/assets/js/Table-Xuly.js"></script>