@{
    ViewBag.Title = "About";
}
<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Trang Chủ</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Giới Thiệu</li>
        </ul>
    </div>
</section>
<section class="w3l-aboutblock1 py-5" id="bottom">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="title-small mb-3">Giới Thiệu</h5>
                <h3 class="title-big">The Coffee Masters</h3>
                <p class="mt-4">Với công nghệ rang, chế biến tại Buôn Ma Thuột và trung tâm điều khiển tại Đức – Duy nhất Trung Nguyên sở hữu công nghệ kép của Châu Âu và bí quyết không thể sao chép của Trung Nguyên để tạo ra một loại cà phê hòa tan G7 thứ thiệt, thơm lừng, tuyệt ngon có chất lượng áp đảo cà phê hàng đầu thế giới đến từ Thụy Sỹ với tỷ lệ G7 là 89%.</p>
                <ul class="rating-star mt-5">
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star-o"></span></li>
                </ul>
                <h3 class="title-small mt-2">"Quán cà phê ngon nhất ở Viêt Nam. Chưa từng có!"</h3>
                <p>
                    “Tôi chắc chắn rằng bây giờ nó được gọi là chuột lớn và có cappuccino ngon nhất ở Việt Nam.</br>
                    Chắc chắn quay trở lại thưởng thức 1 lần nữa.”
                </p>
                <h3 class="title-star mt-3">- Tiến Teddy</h3>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ">
                <img src="~/images/about3.jpg" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="w3l-about2 py-5">
    <div class="container py-lg-5">
        <div class="row cwp23-content">
            <div class="col-lg-6">
                <h5 class="title-small mb-3">Chúng tôi là ai</h5>
                <h3 class="title-big">Bạn có biết không? Về nhà hàng của chúng tôi</h3>
                <p class="mt-4">
                    Thương hiệu bắt nguồn từ cà phê Việt Nam<br>

                    Từ tình yêu với Việt Nam và niềm đam mê cà phê, năm 1999, thương hiệu Coffee ra đời với khát vọng nâng tầm di sản cà phê lâu đời của Việt Nam và lan rộng tinh thần tự hào, kết nối hài hoà giữa truyền thống với hiện đại.<br>

                    Qua một chặng đường dài, chúng tôi đã không ngừng mang đến những sản phẩm cà phê thơm ngon, sánh đượm trong không gian thoải mái và lịch sự.<br>

                    Đến nay, Coffee vẫn duy trì khâu phân loại cà phê bằng tay để chọn ra từng hạt cà phê chất lượng nhất, rang mới mỗi ngày và phục vụ quý khách với nụ cười rạng rỡ trên môi. Bí quyết thành công của chúng tôi là đây: không gian quán tuyệt vời, sản phẩm tuyệt hảo và dịch vụ chu đáo với mức giá phù hợp.
                </p>
                <img src="~/images/signature.png" class="img-fluid signature" width="300px" alt="my photo">
            </div>
            <div class="col-lg-6 cwp23-text align-self mt-lg-0 mt-5">
                <div class="cwp23-text-cols">
                    <div class="column">
                        <span class="fa fa-globe" aria-hidden="true"></span>
                        <a href="services.html">Các loại tốt nhất trên thế giới</a>
                    </div>
                    <div class="column">
                        <span class="fa fa-coffee" aria-hidden="true"></span>
                        <a href="services.html">Nhiều điểm bán hàng</a>
                    </div>
                    <div class="column">
                        <span class="fa fa-delicious" aria-hidden="true"></span>
                        <a href="services.html">Pha chế chuyên nghiệp</a>
                    </div>
                    <div class="column">
                        <span class="fa fa-truck" aria-hidden="true"></span>
                        <a href="services.html">Hoạt động 24/7</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-aboutblock3 py-5">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 align-self">
                <h5 class="title-small mb-3">Become our Dealer</h5>
                <h3 class="title-big">Hơn<span> 4500+</span> <br>khách hàng tin tưởng chúng tôi</h3>
                <p class="mt-4">Mỗi vị khách hàng là một vị thượng đế để chúng tôi được phục vụ</p>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ">
                <img src="assets/images/about.png" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- team -->
