@{
    ViewBag.Title = "Home Page";
}


<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>COFFEE <span> CÀ PHÊ THỨ THIỆT</span></h5>
                                    <p class="mt-4">Dành Cho Người Thứ Thiệt.</p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="reservation.html">ĐẶT BÀN</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="about.html">GIỚI THIỆU VỀ CHÚNG TÔI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>COFFEE <span> THƠM NGON ĐẾN GIỌT CUỐI CÙNG</span></h5>
                                    <p class="mt-4">Hương vị tuyệt hảo... Không no hơi.</p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="reservation.html">ĐẶT BÀN</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="about.html">GIỚI THIỆU VỀ CHÚNG TÔI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>COFFEE <span> THƯỞNG THỨC THEO CÁCH CỦA BẠN</span> </h5>
                                    <p class="mt-4">Tính tiền theo cách chúng tôi.</p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="reservation.html">ĐẶT BÀN</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="about.html">GIỚI THIỆU VỀ CHÚNG TÔI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>COFFEE <span> BẤT CỨ NƠI NÀO BẠN ĐẾN</span></h5>
                                    <p class="mt-4">Cứ đều đặn tích tắc đúng giờ.</p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="reservation.html">ĐẶT BÀN</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="about.html">GIỚI THIỆU VỀ CHÚNG TÔI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <!-- <div class="icon-pos">
            <a href="#bottom"><span class="fa fa-arrow-down"></span></a>
        </div> -->
    </div>
</section>
<!-- /main-slider -->
<section class="w3l-index3" id="bottom">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    <h5 class="title-small mb-3">Our Skills</h5>
                    <h3 class="title-big">We make the delicious coffee for the coffee lovers.</h3>
                    <p class="mt-4">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Non quae, fugiat consequatur voluptatem nihil ad. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#about" class="btn btn-style border-btn mt-lg-5 mt-4">Know More</a>
                </div>
                <div class="col-lg-6 left-wthree-img text-right mt-lg-0 mt-5 ">
                    <img src="~/images/about.jpg" alt="" class="radius-image img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /homeblock2-->
<section class="w3l-homeblock2 py-5" id="services">
    <div class="container py-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-3 col-sm-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-coffee"></span>
                    <h4><a href="#feature" class="title-head" style="text-decoration: none;">Các loại cà phê</a></h4>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 grids-feature mt-sm-0 mt-5">
                <div class="area-box">
                    <span class="fa fa-glass"></span>
                    <h4><a href="#feature" class="title-head" style="text-decoration: none;">Các loại đậu</a></h4>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-5">
                <div class="area-box">
                    <span class="fa fa-pagelines"></span>
                    <h4><a href="#feature" class="title-head" style="text-decoration: none;">Cà phê & Bánh ngọt</a></h4>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-5">
                <div class="area-box">
                    <span class="fa fa-envira"></span>
                    <h4><a href="#feature" class="title-head" style="text-decoration: none;">Thưởng thức cà phê</a></h4>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //homeblock2-->
<section class="w3l-homeblock3">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="~/images/bg.jpg" alt="" class="radius-image img-fluid"/>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-3 about-right-faq align-self">
                    <h3 class="title-big">Cách dễ nhất và thuận tiện nhất để pha cà phê</h3>
                    <ul class="w3l-lists mt-4">
                        <li><span class="fa fa-check" aria-hidden="true"></span>1 muỗng bột cacao không đường </li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>1/2 muỗng bơ, cắt thành miếng 1,5 cm</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>1 1/4 muỗng đường cát</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>1/2 muỗng đường nâu sẫm được đóng gói chắc chắn</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>1 1/4 muỗng cà phê cứt chồn</li>
                        <li>
                            <span class="fa fa-check" aria-hidden="true"></span>Thêm Bình pha cà phê cách nhiệt / Máy lắc & Nắp Cafe
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="w3l-bg-image">
    <div class="bg-mask py-5">
        <div class="container py-lg-5 py-4">
            <div class="text-align text-center py-lg-4 py-md-3">
                <h3>Khám Phá Hương Vị Cà Phê Đích Thực</h3>
                <p>Một thực tế đã có từ lâu là người đọc sẽ bị phân tâm bởi nội dung có thể đọc được của một trang khi nhìn vào bố cục của nó.</p>
            </div>
        </div>
    </div>
</div>

<section class="w3l-homeblock7 py-5">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-4 mb-lg-0 mb-md-5 mb-4">
                <h3 class="title-big">Giờ mở cửa và đặt chỗ.</h3>

            </div>
            <div class="col-lg-4 col-sm-6 col-8">
                <img src="~/images/middle.png" alt="" class="radius-image img-fluid"/>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <ul class="w3l-lists mb-md-5 mb-4">
                    <h3 class="title-small"> Giờ mở cửa: </h3>
                    <li>Thứ Hai - Thứ Sáu // 09:00 - 22:00</li>
                    <li>Thứ Bảy // 09:00 – 22:30</li>
                    <li>Chủ Nhật // ĐÓNG CỬA</li>
                </ul>
                <ul class="w3l-lists">
                    <h3 class="title-small"> Số đặt chỗ: </h3>
                    <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(84)-255-999-8888</a></li>
                    <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(84)-255-999-8899</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
